.container {
    width: 50%;
    top: 15%;
    left: 25%;
    position: absolute;
    padding: 1rem;
    border: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    font-size: 1rem;
    border-radius: 0.5rem;
}

@media (max-width: 600px) {
    .container {
        top: 5%;
        left: 5%;
        width: 85%;
    }
}
