.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(1, 1, 1, 0.7);
}
.edit-form {
  position: relative;
  top: 10%;
  left: 25%;
  background-color: white;
  display: flex;
  row-gap: 0.5rem;
  width: 50%;
  border-radius: 0.5rem;
  padding: 0.5rem;
  flex-direction: column;
}

.edit-form header {
  font-weight: bold;
  text-align: center;
}

.buttons {
  display: flex;
  column-gap: 0.5rem;
  justify-content: end;
}

@media (max-width: 850px) {
  .edit-form {
    left: 0;
    width: 80%;
    margin: auto;
  }
}
.info {
  font-size: 1rem;
  height: 2rem;
}

.edit-form button {
  height: 2rem;
}
